@tailwind base;
@tailwind components;
@tailwind utilities;

.angled-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d25c33;
  transform: rotate(-16deg);
  z-index: -10;
}

.hero-section {
  min-height: calc(100vh - 4rem);
}

.cookies-eu-banner {
  background-color: rgba(255, 255, 255);
  color: #ddd;
  padding: 25px;
  text-align: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 30%;
  max-width: 600px;
}

.cookies-eu-banner .cookies-button-accept {
  text-decoration: none;
  background: #aa9980;
  color: #fff;
  cursor: pointer;
  padding: 8px 29px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-eu-banner .cookies-button-decline {
  text-decoration: none;
  color: #212123;
  border: 1px solid #000;
  cursor: pointer;
  padding: 7px 15px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-eu-banner .cookies-button-accept:hover,
.cookies-eu-banner .cookies-button-decline:hover {
  background: #f3e7d6;
  color: #222;
}

.cookies-eu-banner .cookies-button-edit {
  text-decoration: none;
  color: #212123;
  cursor: pointer;
  padding: 7px 15px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.hidden {
  display: none;
}

.cookies-eu-edit {
  background-color: #fff;
  color: #212123;
  padding: 50px;
  font-size: 13px;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  width: 40%;
  max-width: 600px;
  z-index: 30;
}

.cookies-eu-edit input[type="checkbox"] {
  margin-right: 10px;
}

.cookies-eu-edit .cookies-button-save {
  background: #aa9980;
  color: #fff;
  cursor: pointer;
  padding: 7px 15px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-eu-edit .cookies-button-save:hover {
  background: #f3e7d6;
  color: #222;
}

/* Responzivní styly pro menší obrazovky */
@media (max-width: 768px) {
  .cookies-eu-banner,
  .cookies-eu-edit {
    width: 90%;
    padding: 15px;
    font-size: 12px;
  }

  .cookies-eu-banner .cookies-button-accept,
  .cookies-eu-banner .cookies-button-decline,
  .cookies-eu-banner .cookies-button-edit,
  .cookies-eu-edit .cookies-button-save {
    padding: 7px 10px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cookies-eu-banner,
  .cookies-eu-edit {
    width: 95%;
    padding: 10px;
    font-size: 11px;
  }

  .cookies-eu-banner .cookies-button-accept,
  .cookies-eu-banner .cookies-button-decline,
  .cookies-eu-banner .cookies-button-edit,
  .cookies-eu-edit .cookies-button-save {
    padding: 5px 8px;
    font-size: 11px;
  }
}

/* Styl pro switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #aa9980;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Zaoblení slideru */
.slider.round {
  border-radius: 36px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Přidáno pro správné zarovnání textu a switcherů */
label {
  display: flex;
  align-items: center;
  width: 100%;
}
